<div class="about-us-area pad-head bg-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title text-center">
                        <h2>Events</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>|</li>
                        <li>Events</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="speakers-single-area pad100">
    <div class="container">
        {{#each events}}
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="speakers-img">
                    <img class="img-fluid" src="assets/img/events/{{this.image}}.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="inner-content">
                    <h1>{{this.name}}</h1>
                    <span>{{{this.description}}}</span>
                    <p>{{{content}}}</p>
                    {{#if catagories}}<p style="color:rgb(223, 51, 59);">Catagories</p>
                    <ol>
                        {{#each this.catagories}}
                        <li>
                            <strong>{{this.name}}</strong>
                            <p>{{this.des}}</p>
                        </li>
                        {{/each}}
                    </ol>
                    {{/if}}
                    {{#if rounds}} <p style="color:rgb(223, 51, 59);">Rounds</p>
                    <ol style="list-style: none;">
                        {{#each this.rounds}}
                        <li>
                            <strong>{{this.name}}</strong>
                            <ul style="list-style:round;">
                                {{#each this.des}}
                                <li>&bull; {{this}}</li>
                                {{/each}}
                            </ul>
                        </li>
                        <br>
                        {{/each}}
                    </ol>
                    {{/if}}
                    <br>
                    <p><strong>
                            Event Coordinator : {{coordinator.name}} <br> Contact Number : <a
                                href="tel:{{coordinator.phone}}">{{coordinator.phone}}</a> <br>
                            EmailID : <a href="mailto:{{coordinator.email}}">{{coordinator.email}}</a>
                        </strong></p>
                    {{#if problemStatement}}<a href="#">Download Problem statement</a>{{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>