<div class="about-us-area pad-head bg-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title text-center">
                        <h2>Events</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>|</li>
                        <li>Events</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="speakers-single-area pad100">
    <div class="container">
        {{#each events}}
        
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="speakers-img" style="">
                    <img class="img-fluid" src="assets/img/events/{{this.image}}.png" alt="{{this.name}}">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>{{this.name}}</h1>
                        </div>
                        <div class="col-sm-5">
                            {{#if ../user}}
                            {{#checkEvent this.name ../user.events}}
                            <button class="btn btn-info event-register" style="padding: 10px 20px; margin-top:34px;"
                                data-id="{{../this.name}}"> Register</button>
                            {{/checkEvent}}
                            {{/if}}
                        </div>
                    </div>
                    <span>{{{this.description}}}</span>
                    {{#if content}}<p>{{{content}}}</p>{{/if}}
                    {{#if catagories}}<p style="color:rgb(223, 51, 59);">Catagories</p>
                    <ol>
                        {{#each this.catagories}}
                        <li>
                            <strong>{{this.name}}</strong>
                            {{#if this.des}}<p>{{this.des}}</p>{{/if}}
                        </li>
                        {{/each}}
                    </ol>
                    {{/if}}
                    {{#if rounds}} <p style="color:rgb(223, 51, 59);">Rounds</p>
                    <ol style="list-style: none;">
                        {{#each this.rounds}}
                        <li>
                            <strong>{{this.name}}</strong>
                            <ul style="list-style:round;">
                                {{#if this.des}}{{#each this.des}}
                                <li>&bull; {{this}}</li>
                                {{/each}}{{/if}}
                            </ul>
                        </li>
                        <br>
                        {{/each}}
                    </ol>
                    {{/if}}
                    <br>
                    <p><strong>
                            Event Coordinator : {{coordinator.name}}
                            <br>
                            {{#if coordinator.phone}}
                            Contact Number :
                            {{#each coordinator.phone}}
                            <a href="tel:{{this}}">{{this}}</a><br>
                            {{/each}}
                            {{/if}}
                            Email ID :
                            {{#each coordinator.email}}
                            <a href="mailto:{{this}}">{{this}}</a>
                            <br>
                            {{/each}}
                        </strong></p>
                    {{#if problemStatement}}<a href="{{problemStatement}}" download="">Download Problem statement</a>{{/if}}
                </div>
            </div>
        </div>
        {{/each}}
        <div class="pad100">
            <h2>We also have many fun filled Informal events</h2>
        </div>
    </div>
</div>

<div class="modal fade" id="registrationModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content" style="padding: 20px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p style="font-size:1.4em;" id="reg-status">Registering.</p>
            </div>
        </div>
    </div>
</div>